# coding: utf-8

{{>partial_header}}

from fastapi import FastAPI
try:
    from {{packageName}}.impl.preload import on_app_created
except ImportError:
    def on_app_created(x): return

{{#apiInfo}}
{{#apis}}
from {{apiPackage}}.{{classFilename}} import router as {{classname}}Router
{{/apis}}
{{/apiInfo}}

app = FastAPI(
    title="{{appName}}",
    description="{{appDescription}}",
    version="{{appVersion}}",
)

{{#apiInfo}}
{{#apis}}
app.include_router({{classname}}Router)
{{/apis}}
{{/apiInfo}}

on_app_created(app)
