{{#models}}
{{#model}}
from {{packageName}}.models.{{classFilename}} import {{classname}}
{{/model}}
{{/models}}

SPECIFICATION_VERSION = '{{appVersion}}'

__all__ = [{{#models}}{{#model}}'{{classname}}'{{^-last}}, {{/-last}}{{/model}}{{/models}}, 'SPECIFICATION_VERSION']
